{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/Logo-LuckyCart.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Bank Form</title>
    <script>
        const loginURL = "{% url 'login_form' %}";
        const openURL = "{% url 'open_account' %}";
    </script>
</head>
<body>
    <div class="page-wrapper">
        <div class="main-content">
            {% include 'header.html' %}
            <div class="payment-container">
                <h2 class="payment-title">Recargar cuenta</h2>
                <form action="{% url 'transfer_form' %}" method="POST" id="paymentForm">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="amount">Monto en pesos colombianos COP$</label>
                        <input type="number" id="amount" name="amount" step="0.01" required>
                    </div>
                    <div class="form-group">
                        <label for="bank">Banco</label>
                        <select id="bank" name="bank" required>
                            <option value="" disabled selected>Seleccione un banco</option>
                            <option value="bancolombia">Bancolombia</option>
                            <option value="davivienda">Davivienda</option>
                            <option value="bbva">BBVA</option>
                            <option value="nequi">Nequi</option>
                            <option value="banco_de_bogota">Banco de Bogotá</option>
                            <option value="banco_de_occidente">Banco de Occidente</option>
                            <option value="banco_popular">Banco Popular</option>
                            <option value="banco_av_villas">Banco AV Villas</option>
                            <option value="banco_agrario">Banco Agrario</option>
                            <option value="gnb_sudameris">GNB Sudameris</option>
                            <option value="itau">Itaú</option>
                            <option value="scotiabank">Scotiabank</option>
                            <option value="citibank">Citibank</option>
                            <option value="daviplata">DaviPlata</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="accountNumber">Número de cuenta</label>
                        <input type="text" id="accountNumber" name="accountNumber" required>
                    </div>
                    <button type="submit" id="openModal" class="checkout-btn">Proceder al Pago</button>
                    <button type="button" class="cancel-btn" onclick="cancelTransaction()">Cancelar</button>
                </form>
            </div>
            <div class="sidebar-derecha">
                <div class="producto">
                    <div class="probabilidad">70%</div>
                    <img src="{% static 'img/nike-air-force-one-white.jpg' %}" alt="Producto 1">
                    <p class="nombre">Nombre del Producto 1</p>
                    <p class="precio">$10.00</p>
                </div>
            </div>
            <div class="floating-button" id="theme-toggle">
                <i class="fas fa-adjust"></i>
            </div>
        </div>
    </div>
    <script src="{% static 'js/toggleVisibility.js' %}"></script>
    <script src="{% static 'js/transfer.js' %}"></script>
    <script src="{% static 'js/modal-transfer.js' %}"></script>
</body>
</html>
