<!-- cart.html -->



{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Breve descripción de lo que trata tu página, idealmente entre 150-160 caracteres.">
    <meta name="csrf-token" content="{{ csrf_token }}">

    <link rel="shortcut icon" href="{% static 'img/Logo-LuckyCart.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Carrito de Compras</title>
    <script>
        const loginURL = "{% url 'login_form' %}";
        const openURL = "{% url 'open_account' %}";
        const staticUrl = "{% static '' %}";
    </script>
</head>

<body>

    <div class="page-wrapper">
        <div class="main-content">
            {% include 'header.html' %}

            <!-- Bloque para mostrar mensajes -->
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}


            <!-- Información de la Billetera -->
            <h1>Your Wallet</h1>
            <p>Currency: {{ wallet.currency }}</p>
            <p>Amount: {{ wallet.amount }}</p>

            
            

            <!-- Carrito de Compras -->
            <h1>Your Cart</h1>
            <p>Cart Associated: {{ cart.user_id }}</p>
            <p>Cart Items: {{ cart.cart_items }}</p>
            <p>Amount Cart: {{ cart.amount }}</p>
            {% if cart_items %}
                <table>
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                        <tr>
                            <td>
                                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" width="50">
                                {{ item.product.name }}
                            </td>
                            <td>
                                <form method="POST" action="{% url 'update_cart' item.id %}">
                                    {% csrf_token %}
                                    <input type="number" name="quantity" value="{{ item.quantity }}" min="1">
                                    <button type="submit">Update</button>
                                </form>
                            </td>
                            <td>{{ item.product.price }}</td>
                            <td>{{ item.get_total_price }}</td>
                            <td>
                                <form method="POST" action="{% url 'remove_from_cart' item.id %}">
                                    {% csrf_token %}
                                    <button type="submit">Remove</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h2>Total: {{ total_price }}</h2>
            {% else %}
                <p>Your cart is empty.</p>
            {% endif %}
            <a href="{% url 'shop' %}">Continue Shopping</a>

        </div>
    </div>

    <div class="floating-button" id="theme-toggle">
        <i class="fas fa-adjust"></i>
    </div>

    {% include 'modal_lugares.html' %}

    <!-- Elemento para almacenar la URL del carrito -->
    {% comment %} <div id="cart-url" data-url="{% url 'get_cart_items' %}"></div> {% endcomment %}


    <script src="{% static 'js/toggleVisibility.js' %}"></script>
    <script src="{% static 'js/shop-shoppingcart-localstorage.js' %}"></script>
    {% comment %} <script src="{% static 'js/cookies.js' %}"></script> {% endcomment %}

</body>
</html>
