{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/Logo-LuckyCart.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <title>Header</title>
    {% comment %} <script>
        const loginURL = "{% url 'login_form' %}";
        const openURL = "{% url 'open_account' %}";
    </script> {% endcomment %}
</head>
<body>
    <header>
        <nav>
            <div class="hamburger-menu">
                <img src="{% static 'img/menu.svg' %}" alt="Menu">
            </div>
            <!-- Moved the title outside the ul -->
            <li class="title"><a href="{% url 'home' %}">Luxdrop</a></li>
            <ul id="navMenu">
                <li class="dropdown search-dropdown">
                    <a href="#"><i class="fas fa-search"></i></a>
                    <div class="dropdown-content search-bar">
                        <input type="text" placeholder="Buscar..." id="searchInput">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#"><i class="fas fa-box"></i></a>
                    <div class="dropdown-content">
                        <a href="{% url 'drop' %}">Ruleta</a>
                        <a href="#">Rasca & Gana</a>
                        <a href="#">Reacción</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="{% url 'shop' %}"><i class="fas fa-store"></i></a>
                    <div class="dropdown-content">
                        <a href="#">Vivienda</a>
                        <a href="#">Vehículos</a>
                        <a href="#">Tecnología</a>
                        <a href="#">Ropa</a>
                        <a href="#">Accesorios</a>
                    </div>
                </li>
                <li><a href="{% url 'cart' %}"><i class="fas fa-shopping-cart"></i></a></li>
                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
                <li><a id="delivery-icon" href="{% url 'delivery' %}"><i class="fas fa-truck"></i></a></li>
                <li class="dropdown">
                    <a href="{% url 'user' %}"><i class="fas fa-user"></i></a>
                    <div class="dropdown-content">
                        <a href="#">Opción 1</a>
                        <a href="#">Opción 2</a>
                        <a href="#">Opción 3</a>
                    </div>
                </li>
            </ul>
            <!-- Moved saldo-container and logout outside the ul -->
            <div class="user-actions">
                <div class="saldo-box">
                    <p>$ {{ user.wallet.amount }}</p>
                </div>                
                <button id="openModalButton" data-url="{% url 'transfer' %}"><i class="fas fa-plus"></i></button>
            </div>
            <div class="user-actions">
                <p class="username">{{ user.email }}</p>
                <a href="{% url 'index' %}" class="logout-button">Cerrar sesión</a>
            </div>
        </nav>
    </header>
    <script src="{% static 'js/hamburger-menu.js' %}"></script>
</body>
</html>
