{% load static %}

<body>
    <!-- Ventana emergente listado de paises compatibles -->
    <div id="modal-lugares" class="modal-lugares">
        <div class="modal-content-lugares">
            <span class="close">&times;</span>
            <h2>PAÍSES DE ENVÍO DISPONIBLES</h2>
            <p>Consulte la lista de países a continuación donde podemos enviar artículos físicos. Si su país no figura en la lista, puede cambiar artículos por saldo al realizar el retiro.</p>
            <br>
            <label for="country-textbox">Paises:</label>
            <br>
            <textarea id="myTextarea" rows="6" cols="50" readonly >
            - Colombia
            - México
            - Chile
            </textarea>
            <br>     
            <input type="checkbox" id="checkButton-lugares">
            <label for="checkButton-lugares">No mostrar de nuevo</label>
            <br>
            <button id="confirmButton-lugares" data-url="{% url 'delivery'%}">Entiendo y deseo continuar</button>
        </div>
    </div> 
    <script src="{% static '../static/js/politics.js' %}"></script>
</body>