<!-- shop.html -->


{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Breve descripción de lo que trata tu página, idealmente entre 150-160 caracteres.">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="shortcut icon" href="{% static '../static/img/Logo-LuckyCart.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Shop</title>
    <script>
        const loginURL = "{% url 'login_form' %}";
        const openURL = "{% url 'open_account' %}";
        const staticUrl = "{% static '' %}";
    </script>
</head>
<body>
    <div class="page-wrapper">
        <div class="main-content">
            {% include 'header.html' %}
            <h1>Tienda</h1>
            <p>Total de productos: {{ total_products }}</p>
            {% for category, products in products_by_category.items %}
                <h2>{{ category }}</h2>
                <div class="category-section">
                    {% for product in products %}
                        <div class="product-item">
                            <p>Id: {{ product.id }}</p>
                            <h3>{{ product.name }}</h3>
                            <p>{{ product.description }}</p>
                            <p>Precio: ${{ product.price }}</p>
                            <p>Marca: {{ product.brand }}</p>
                            <p>Estado: {{ product.get_state_display }}</p>
                            <p>Disponibilidad: {{ product.get_disponibility_display }}</p>
                            <p>Stock: {{ product.stock }}</p>
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                            <div class="quantity-selector">
                                <button type="button" onclick="changeQuantity('decrease', '{{ product.id }}', {{product.stock}})">-</button>
                                <input type="number" name="quantity" id="quantity-{{ product.id}}" value="1" min="1" max="{{ product.stock }}" step="1" readonly>
                                <button type="button" onclick="changeQuantity('increase', '{{ product.id }}', {{ product.stock }})">+</button>
                            </div>
                            <button class="addtocart" data-product-id="{{ product.id }}" data-product-price="{{ product.price }}" data-product-image="{{ product.image.url }}" data-stock="{{ product.stock }}" data-url="{% url 'add_to_cart' %}" onclick="addToCart('{{ product.id }}', {{ product.price }}, '{{ product.image.url }}', parseInt(document.getElementById('quantity-{{ product.id}}').value), {{product.stock}})">Añadir al carrito</button>
                            <a href="{% url 'cart' %}"><i class="fas fa-shopping-cart"></i></a>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="floating-button" id="theme-toggle">
        <i class="fas fa-adjust"></i>
    </div>


    {% include 'modal_lugares.html' %}7[ñ]    <script src="{% static '../static/js/toggleVisibility.js' %}"></script>
    <script src="{% static '../static/js/shop-shoppingcart-localstorage.js' %}"></script>
    
</body>
</html>
