{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/Logo-LuckyCart.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Transfer Form</title>
    <script>
        const loginURL = "{% url 'login_form' %}";
        const openURL = "{% url 'open_account' %}";
    </script>
</head>
<body>
    <div class="page-wrapper">
        <div class="main-content">
            {% include 'header.html' %}
            <div class="transfer-form-container">
                <h1>Formulario de Transacción</h1>
                <p>Por favor, ingrese los detalles de su transacción a continuación:</p>
                <form action="procesar_transaccion.php" method="POST">
                    {% csrf_token %}
                    <label for="empresa">Empresa:</label>
                    <input type="text" id="empresa" name="empresa" required value="{{ empresa_nombre }}" readonly>
                    <label for="nit">NIT:</label>
                    <input type="text" id="nit" name="nit" required value="{{ nit }}" readonly>
                    <label for="fecha">Fecha:</label>
                    <input type="date" id="fecha" name="fecha" required value="{{ fecha_actual }}" readonly>
                    <label for="estado">Estado:</label>
                    <select id="estado" name="estado">
                        <option value="pendiente">Pendiente</option>
                        <option value="completado">Completado</option>
                        <option value="fallido">Fallido</option>
                    </select>
                    <label for="refPedido">Referencia de pedido:</label>
                    <input type="text" id="refPedido" name="refPedido" required value="{{ referencia_de_pedido }}" readonly>
                    <label for="refTransaccion">Referencia de transacción:</label>
                    <input type="text" id="refTransaccion" name="refTransaccion" required value="{{ referencia_de_transacion }}" readonly>
                    <label for="numTransaccion">Número de transacción / CUS:</label>
                    <input type="text" id="numTransaccion" name="numTransaccion" required value="{{ numero_de_transaccion_CUS }}" readonly>
                    <label for="bank">Banco:</label>
                    <input type="text" id="bank" name="bank" required value="{{ banco }}" readonly>
                    <label for="amount">Valor:</label>
                    <input type="number" id="anmount" name="amount" required value="{{ valor }}" readonly>
                    <label for="ipOrigen">IP Origen:</label>
                    <input type="text" id="ipOrigen" name="ipOrigen" required value="{{ IP_de_origen }}" readonly>
                    <button type="submit" class="transfer-form-btn">Finalizar Transacción</button>
                </form>
                <div id="confirmationModal" class="modal-transfer" style="display:none;">
                    <div class="modal-content-transfer">
                        <span class="close-transfer">&times;</span>
                        <h2>¿Confirma la transacción?</h2>
                        <div>
                            <button id="confirmTransaction" class="modal-transfer-btn" data-url="{% url 'home' %}">Sí</button>
                            <button id="denyTransaction" class="modal-transfer-btn">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="floating-button" id="theme-toggle">
            <i class="fas fa-adjust"></i>
        </div>
        {% include 'modal_lugares.html' %}
        <script src="{% static 'js/toggleVisibility.js' %}"></script>
        <script src="{% static 'js/politics.js' %}"></script>
        <script src="{% static 'js/modal-transfer.js' %}"></script>
    </div>
</body>
</html>
