/* Estilos generales */

header {
    background-color: #285363;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 60px; /* Ajusta la altura según sea necesario */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 60px; /* Incrementa el margen para ampliar el área de influencia */
    padding: 60px; /* Aumenta el padding para ampliar el área de influencia */
    position: relative;
}

nav ul li a {
    
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 50px;
    margin: 0 50px; /* Incrementa el margen para ampliar el área de influencia */

}

nav ul li a:hover {
    background-color: #ddd;
    color: black;
}

nav ul li i {
    margin-right: 5px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    
}

.nav-links li {
    margin-right: 20px;
    
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    
}

.nav-links li a:hover {
    background-color: #ddd;
    color: black;
}

.nav-links li a.boton-login,
.nav-links li a.boton-crear-cuenta {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

.nav-links li a.boton-login:hover,
.nav-links li a.boton-crear-cuenta:hover {
    background-color: #ddd;
    color: #000;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-right: auto;
    padding: 15px;
    list-style-type: none; /* Elimina el estilo de lista (punto) */
}

.title a {
    color: #fff;
    text-decoration: none;
}

.title a:hover {
    color: #ddd;
}

.menu-items .title {
    font-size: 24px;
    font-weight: bold;
}

.menu-items .user-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.menu-items .user-actions .nav-links {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu-items .user-actions .nav-links li {
    margin-right: 10px; /* Ajusta el margen entre los elementos */
}

.menu-items .user-actions .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

.menu-items .user-actions .nav-links li a:hover {
    background-color: #ddd;
    color: #000;
}

.user-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.user-actions a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px; /* Ajusta el padding según sea necesario */
    margin-left: 10px; /* Espacio entre los botones */
    border: 1px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

.user-actions a:hover {
    background-color: #ddd;
    color: #000;
}

.username {
    margin-right: 10px;
    font-size: 16px;
    color: #333;
}

.search-dropdown {
    position: relative;
    display: inline-block;
}

.search-bar {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    padding: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.search-bar input[type="text"] {
    border: none;
    padding: 8px;
    width: calc(100% - 50px);
}

.search-bar button {
    padding: 8px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.search-dropdown:hover .search-bar {
    display: block;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3396FF;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Asegura que el submenú esté por encima de otros elementos */
    top: 120%; /* Posiciona inicialmente el submenú justo debajo del ícono */
    left: 0;
    margin-top: 200px; /* Ajuste el margen para crear un área de transición */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.saldo-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.saldo-box {
    background-color: #fff;
    color: #000;
    padding: 8px;
    border-radius: 5px;
    margin-right: 10px;
}

.button-common-style {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 10px; /* Ajusta el padding */
    border: 1px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-common-style i {
    margin-right: 5px;
    font-size: 14px; /* Ajusta el tamaño del icono */
}

.button-common-style:hover {
    background-color: #ddd;
    color: #000;
    border-color: #ddd;
}

#openModalButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
}

#openModalButton i {
    margin-right: 5px;
}

.logout {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.logout-button {
    color: red;
    font-weight: bold;
}

.logout-button:hover {
    background-color: #ffcccc;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-menu img {
    width: 30px; /* Ajusta este tamaño según sea necesario */
    height: 30px; /* Ajusta este tamaño según sea necesario */
}

nav, nav ul, nav ul li, nav ul li a, .dropdown, .dropdown-content, .saldo-container, .saldo-box, #openModalButton, .search-bar, .search-bar input[type="text"], .search-bar button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: #285363;
        padding: 10px 0;
        position: absolute;
        top: 50px; /* Justo debajo de la barra de navegación */
        left: 0;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: left;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px; /* Justo debajo de la barra de navegación */
        left: 0;
        background-color: #285363;
        width: 100%;
        padding: 10px 0;
        z-index: 999; /* Asegura que esté por encima del contenido */
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        width: 100%;
        text-align: center;
        margin: 10px 0; /* Espacio entre elementos del menú */
    }

    .menu-items {
        margin-left: auto; /* Alinea los elementos a la derecha del header */
    }



    .menu-items .user-actions {
        margin-left: 0;
        margin-top: 10px; /* Ajusta el margen superior según sea necesario */
    }

    .menu-items .user-actions .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .menu-items .user-actions .nav-links li {
        margin: 5px 0; /* Ajusta el margen vertical entre elementos */
    }

    .menu-items .user-actions .nav-links li a {
        width: 100%;
        text-align: center;
    }

    .user-actions {
        margin-left: 0;
        margin-top: 10px; /* Ajusta el margen superior según sea necesario */
    }

    .user-actions a {
        width: 100%;
        text-align: center;
    }
    
    .saldo-container, .logout {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .saldo-box {
        margin-right: 10px; /* Mantén un margen a la derecha del saldo */
    }

    .dropdown-content {
        position: relative;
        top: calc(100% + 5px); /* Ajuste para el espacio de transición en modo responsivo */
        background-color: #285363;
    }

    .dropdown-content a {
        color: #fff;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
        color: #000;
    }

    .search-dropdown {
        margin-top: 10px; /* Espacio entre el icono de búsqueda y el menú */
    }

    /* Force display dropdown content when menu is active */
    nav ul.active .dropdown-content {
        display: none;
    }

    nav ul.active .dropdown:hover .dropdown-content {
        display: block;
        position: relative;
        background-color: #285363;
    }
}
