/* Estilos generales */

header {
    background-color: #285363;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 60px; /* Ajusta la altura según sea necesario */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px; /* Reduce el margen para un aspecto más compacto */
    padding: 0; /* Elimina el padding extra */
    position: relative;
    display: inline-block; /* Asegura que los elementos estén en línea */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px; /* Ajusta el tamaño de fuente según sea necesario */
    padding: 10px;
}

nav ul li a:hover {
    background-color: #ddd;
    color: black;
}

nav ul li i {
    margin-right: 5px;
    font-size: 18px; /* Ajusta el tamaño del icono */
}

/* Barra de búsqueda */
.search-dropdown {
    position: relative;
}

.search-bar {
    display: flex;
    align-items: center;
    position: absolute;
    top: 100%; /* Aparece justo debajo del ícono de búsqueda */
    left: 0;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none; /* Oculto por defecto */
}

.search-dropdown:hover .search-bar {
    display: flex; /* Muestra la barra de búsqueda al hacer hover */
}

.search-bar input[type="text"] {
    border: none;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 10px;
}

.search-bar button {
    background-color: #285363;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button i {
    font-size: 16px;
}

/* Ajustes de título */
.title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-right: auto;
    padding: 15px;
    list-style-type: none; /* Elimina el estilo de lista (punto) */
}

.title a {
    color: #fff;
    text-decoration: none;
}

.title a:hover {
    color: #ddd;
}

/* Ajustes de acciones de usuario */
.user-actions {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.user-actions .boton-login, .user-actions .boton-crear-cuenta {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.user-actions .boton-login:hover, .user-actions .boton-crear-cuenta:hover {
    background-color: #fff;
    color: #285363;
}

/* Menú hamburguesa para dispositivos móviles */
.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-menu img {
    width: 30px; /* Ajusta este tamaño según sea necesario */
    height: 30px; /* Ajusta este tamaño según sea necesario */
}

/* Responsive */
@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: #285363;
        padding: 10px 0;
        position: absolute;
        top: 50px; /* Justo debajo de la barra de navegación */
        left: 0;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: left;
    }

    .saldo-container {
        margin-left: 0;
        margin-top: 10px; /* Ajusta el margen superior según sea necesario */
    }

    .user-actions {
        margin-left: 0;
        margin-top: 10px; /* Ajusta el margen superior según sea necesario */
    }

    .user-actions a {
        margin-left: 0;
    }
}
