<!-- pokeran/templates/pokeran/prizes.html -->

<div class="prizes-container">
    <h2>Premios para Jacks or Better</h2>
    <table class="prizes-table">
        <thead>
            <tr>
                <th>Manos</th>
                <th>Moneda 1</th>
                <th>Moneda 2</th>
                <th>Moneda 3</th>
                <th>Moneda 4</th>
                <th>Moneda 5</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Escalera real</td>
                <td class="prize-1">250</td>
                <td class="prize-2">500</td>
                <td class="prize-3">750</td>
                <td class="prize-4">1000</td>
                <td class="prize-5">4000</td>
            </tr>
            <tr>
                <td>Cuatro doses</td>
                <td class="prize-1">200</td>
                <td class="prize-2">400</td>
                <td class="prize-3">600</td>
                <td class="prize-4">800</td>
                <td class="prize-5">1000</td>
            </tr>
            <tr>
                <td>Escalera real con comodines</td>
                <td class="prize-1">25</td>
                <td class="prize-2">50</td>
                <td class="prize-3">75</td>
                <td class="prize-4">100</td>
                <td class="prize-5">125</td>
            </tr>
            <tr>
                <td>Repoker</td>
                <td class="prize-1">15</td>
                <td class="prize-2">30</td>
                <td class="prize-3">45</td>
                <td class="prize-4">60</td>
                <td class="prize-5">75</td>
            </tr>
            <tr>
                <td>Escalera de color</td>
                <td class="prize-1">9</td>
                <td class="prize-2">18</td>
                <td class="prize-3">27</td>
                <td class="prize-4">36</td>
                <td class="prize-5">45</td>
            </tr>
            <tr>
                <td>Poker</td>
                <td class="prize-1">4</td>
                <td class="prize-2">8</td>
                <td class="prize-3">12</td>
                <td class="prize-4">16</td>
                <td class="prize-5">20</td>
            </tr>
            <tr>
                <td>Full</td>
                <td class="prize-1">4</td>
                <td class="prize-2">8</td>
                <td class="prize-3">12</td>
                <td class="prize-4">16</td>
                <td class="prize-5">20</td>
            </tr>
            <tr>
                <td>Color</td>
                <td class="prize-1">3</td>
                <td class="prize-2">6</td>
                <td class="prize-3">9</td>
                <td class="prize-4">12</td>
                <td class="prize-5">15</td>
            </tr>
            <tr>
                <td>Escalera</td>
                <td class="prize-1">2</td>
                <td class="prize-2">4</td>
                <td class="prize-3">6</td>
                <td class="prize-4">8</td>
                <td class="prize-5">10</td>
            </tr>
            <tr>
                <td>Trío</td>
                <td class="prize-1">1</td>
                <td class="prize-2">2</td>
                <td class="prize-3">3</td>
                <td class="prize-4">4</td>
                <td class="prize-5">5</td>
            </tr>
        </tbody>
    </table>
</div>
